# Frontend configuration
FRONTEND_PORT=3001
# This is the backend's public api host
NEXT_PUBLIC_API_URL=<https://api.glims-app.fr>

# Backend configuration
FRONTEND_HOST=<https://glims-app.fr>
DATABASE_URL="postgresql://db_user:db_password@db_host:5432/db_name?schema=public"
BETTER_AUTH_SECRET=a-very-long-random-secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Database configuration
DB_USER=<db_user>
DB_PASSWORD=<password>
DB_NAME=<db_name>

# S3 storage configuration
STORAGE_PROVIDER=<r2|garage>

# R2 configuration, ignore if not using R2
R2_ACCOUNT_ID=<your-account-id>
R2_ACCESS_KEY_ID=<your-access-key-id>
R2_SECRET_ACCESS_KEY=<your-secret-access-key>
R2_BUCKET_NAME=<your-bucket-name>

# Garage configuration, ignore if not using Garage
GARAGE_ENDPOINT=http://garage:3900
GARAGE_ACCESS_KEY=<garage-access-key>
GARAGE_SECRET_KEY=<garage-secret-key>
GARAGE_BUCKET_NAME=<garage-bucket-name>
GARAGE_REGION=garage
