# Frontend configuration
FRONTEND_PORT=3001
# This is the backend's public api host
NEXT_PUBLIC_API_URL=<https://api.glims-app.fr>

# Database configuration
DB_USER=<db_user>
DB_PASSWORD=<password>
DB_NAME=<db_name>

# Backend configuration
FRONTEND_HOST=<https://glims-app.fr>
DATABASE_URL="postgresql://db_user:db_password@db_host:5432/db_name?schema=public"
BETTER_AUTH_SECRET="a-very-long-random-secret"
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
