@import 'tailwindcss';

@theme {
  --breakpoint-md: 52rem;
  --breakpoint-sm: 27.5rem;
}

@keyframes slideInRight {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes iconsMenuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRightNav {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
